html {
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  background-image: url(./public/assets/iteration-1/home-banner.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: auto;
}
.header-logo {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}
.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% auto;
  text-align: center;
}
.header-content h2 {
  width: 550px;
  height: 50px;
  font-family: satisfy;
  color: #FDC913;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  size: 32px;
}
.header-content h3 {
  max-width: 576px;
  font-family: Roboto condensed;
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.btn {
  width: 9rem;
  height: 4rem;
  padding: 0rem 1rem 0rem 1rem;
  gap: 0px;
  border-radius: 3rem 3rem 3rem 3rem;
  color: black;
  background-color:#FDC913;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  margin: 2rem 12rem;
}
.menu-item a img {
  padding: 0 2.2rem;
}
.menu-item {
  font-size: 1.8rem;
}
.Lezzetus{
  width: 85rem;
  height: 30rem;
  display: flex;
  margin: 6rem 13rem 2rem;
  gap: 10px;
}
.leftside {
  background-image: url(./public/assets/iteration-2/cta/kart-1.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 1rem 1rem 1rem 1rem;
}
.baslık-lezzetus {
  width: 2rem;
  gap: 0px;
  opacity: 0px;
  font-family: Quattrocento;
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: left;
  color: #FFFFFF;
  margin: 30px 30px 20px 30px;
}
.baslık-position {
  top: 151.75px;
  left: -10px;
  gap: 0px;
  opacity: 0px;
  font-family: Barlow;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 26.76px;
  text-align: left;
  margin: 0px 30px 20px;
  color: #FFFFFF;
}
.btn2 {
  width: 138px;
  height: 48px;
  top: 203.75px;
  left: -10px;
  padding: 3px 18px 0px 18px;
  gap: 0px;
  border-radius: 50px 50px 50px 50px;
  opacity: 0px;
  margin: 0px 30px;
  color: #CE2829;
}
section {
  display: flex;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.kart2 {
  background: url(./public/assets/iteration-2/cta/kart-2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  border-radius: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}
.kart2 h1 {
  width: 15rem;
  font-size: 2.7rem;
  margin: 30px 30px 20px;
  font-weight: 500;
  line-height: 3.5rem;
}
.kart3 {
  background: url(./public/assets/iteration-2/cta/kart-3.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  border-radius: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: black;
}
.kart3 h1 {
  width: 18rem;
  font-size: 2.7rem;
  margin: 30px 30px 30px;
  font-weight: 550;
  line-height: 3rem;
}
.ozel {
  color: #D80027;
}
.yazı {
  width: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yazı h1 {
  font-family: Satisfy;
  width: 85rem;
  font-size: 2rem;
  font-weight: 590;
  text-align: center;
  color: #CE2829;
  padding: 0;
  margin: 0 0 0 12rem;
}
.yazı h2 {
  font-family: Barlow;
  font-size: 3rem;
  font-weight: 600;
  line-height: 56.2px;
  text-align: center;
  margin: 1rem 1rem 1rem 12rem;
}
.urun {
  width: 85rem;
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem 3rem 12rem;
}
.urun-baslık {
  font-family: Barlow;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin: 1rem 0 0;
}
.derece {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.son {
  background-color: black;
  display: flex;
  gap: 8rem;
}
.nav-son {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}
.son-a {
  text-decoration: none;
  color: white;
  line-height: 3rem;
  font-family: Barlow;
  font-size: 1.3rem;
  font-weight: 200;
  text-align: left;
  margin: 1.5rem;

}
.son-ilk h1 {
  color: white;
  width: 8rem;
  font-family: Londrina Solid;
  font-size: 50px;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  margin: 2rem;
}
.son-iki {
  color: white;
  margin: 4rem 0;
}
.son-iki h1 {
  margin: 2.5rem 0;
  font-family: Barlow;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
}
.son-iki p {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 200;
  line-height: 32.4px;
  text-align: left;

}
.son-uc {
  color: white;
  width: 25rem;
  margin: 4rem;
}
.son-uc h1 {
  margin: 2.5rem 0;
  font-family: Barlow;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
}
.son-uc img {
  margin: 0.5rem 0.5rem 0.5rem 0;
}